style "check-radio"
{
   text[NORMAL] = @selected_fg_color
   text[PRELIGHT] = @selected_fg_color
   bg[SELECTED] = @selected_bg_color
}

widget_class "*<GtkRadioButton>*"		style "check-radio"
widget_class "*<GtkCheckButton>*"		style "check-radio"
